.ThursdayCard {
	border: 0.1rem solid black;
	border-radius: 0.33rem;
	padding: 1rem;
	background-color: white;
}

.GroupsTable {
}

.GroupsTable h2 {
	margin: 0rem;
}

.GroupCard {
	border: 0.1rem solid black;
	border-radius: 0.33rem;
	padding: 1rem;
	background-color: white;
}

.GroupCard h3 {
	margin: 0rem;
}

.People {
	display: flex;
	flex-direction: column;
}

.People ul {
	margin: 0.5rem;
}

@media (min-width: 768px) {
	.People {
		flex-direction: row; /* desktop */
	}
}
