.AdminTable {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.ManageSemesters {
	margin: 0.5rem;
}

.ManageStudents {
	margin: 0.5rem;
}

.StudentsTable {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.25rem;
	border-radius: 0.33rem;
}

.StudentsTable span {
	padding: 0.25rem;
	border: 0.1rem solid black;
	background-color: white;
}

.StudentsTable hr {
	border: 0.05rem solid black;
	border-color: black;
}

.StudentsTableHeader {
	background-color: orange;
	border-radius: 0.33rem;
	padding: 0.25rem;
	border: 0.1rem solid black;
	font-weight: bold;
	font-size: 1.25rem;
}

.SemesterCard {
	border-radius: 0.33rem;
	border: 0.1rem solid black;
	padding: 0.25rem;
	margin: 0.25rem;
	background-color: white;
}
