@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap");

html,
body {
	font-family: "Jost", serif;
	margin: 0;
	background: linear-gradient(white, whitesmoke);
	background-attachment: fixed;
	color: #1a120b;
}
