.Wrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

.Label * {
	flex-shrink: 0;
	margin: 0;
	font-weight: bold;
}

.Children {
	display: flex;
	gap: 1rem;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}

/* MOBILE */
@media (max-width: 768px) {
	.Wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 0.75rem;
	}

	.Label {
		text-align: center;
	}
	.Children > * {
		width: 100%;
		flex-direction: column;
		align-items: stretch;
		gap: 0.75rem;
	}
}
