.ThursdayNavigation {
	margin-bottom: 1rem;
}

.NavigationSplit {
	position: static !important;
	z-index: 1;
}

.GreyButton {
	background: var(--neo-bg-white) !important;
	color: #222 !important;
	font-weight: 600 !important;
}
