.productions {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: var(--section-padding);
}

@media (max-width: 992px) {
	.productions {
		padding: 1.5rem;
		gap: 1.5rem;
	}
}

.NoProductions {
	font-style: italic;
	color: #666;
}
