.root {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: var(--border-lg);
	color: var(--app-icon);
}

.root:hover {
	background: var(--nav-button-bg-hover);
	color: var(--nav-button-text-hover);
}

.icon {
	width: var(--svg-size-sm);
	height: var(--svg-size-sm);
	background: currentColor;
	mask-image: url("../../app/assets/close/close.svg");
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	-webkit-mask-image: url("../../app/assets/close/close.svg");
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
}
